* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background-color: #a7aff6;
	/* width: 960px;
	margin: 15px auto; */
}
main {
	display: grid;
	grid-template-areas:
		"topbar		topbar	 topbar"
		"contact 	content	 sidebar"
		"footer		footer	 footer";
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 500px auto 200px;
	align-items: center;
	justify-items: center;
}
/* GRID ITEMS*/
header {
	grid-area: topbar;
	text-align: left;
	background-color: #9c98eb;
}
li,
a {
	color: #7104ff;
	text-decoration: none;
}
nav {
	grid-area: contact;
	justify-content: space-between;
}
.nav_links ul {
	list-style: none;
}
.nav_links > li {
	position: relative;
	display: inline-block;
}
.nav_links > li > a {
	display: block;
	padding: 15px 20px;
	color: #5106ff;
	text-decoration: none;
}
.nav_links li a:hover {
	transition: all 0.3s ease 0s;
	color: #ff0000;
}
article {
	grid-area: content;
}
aside {
	grid-area: sidebar;
	text-align: center;
}
footer {
	display: flex;
	width: 1200px;
	grid-area: footer;
	background-color: #9c98eb;
}
/* GRID ITEMS*/

.footer div {
	display: inline-block;
	padding: 0px 80px;
}
#mensaje {
	resize: none;
}
